<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <!-- API Key -->
      <add key="API Key" value="xxxxxxxxxxxxxxxxxxxxxxxx" />
      <!-- API Secret -->
      <add key="API Secret" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
      <!-- インターバル -->
      <add key="Interval" value="5000" />
      <!-- ディレクトリ -->
      <add key="Directory Path" value="data" />
      <!-- ファイル名 -->
      <add key="File Name Trade" value="trade.csv" />
      <!-- ファイル名 -->
      <add key="File Name Order" value="order.csv" />
      <!-- 短期移動平均 -->
      <add key="Short Moving Average" value="5" />
      <!-- 長期移動平均 -->
      <add key="Long Moving Average" value="10" />
      <!-- トレンド -->
      <add key="Trend" value="5" />
      <!-- 仕掛け -->
      <add key="settle" value="5"/>
      <!-- 仕掛け回数 -->
      <add key="settleCnt" value="3"/>
    </appSettings>
</configuration>